*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: 0.5s;
}
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: #fff;
    background-color: #20263F;
}
.container{
    width: 80%;
    margin: 0 auto;
}

section h2{
    text-align: center;
    margin-bottom: 4rem;
}
h1, h2, h3, h4, h5{
    line-height: 1.2;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.3rem;
}
a{
    color: #fff;
}
img{
    width: 100%;
    object-fit: cover;
    display: block;
}
.btn{
    display: inline-block;
    background: #fff;
    color: black;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: 0.5s;
}
.btn:hover{
    background: transparent;
    color: #fff;
    border-color: #fff;
}
.btn-primary{
    background: #f75842;
    color: #fff;
}

/*============ NAVBAR ==========*/

nav{
    background: transparent;
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0%;
    z-index: 11;
}
/* change navbar styles on scrooll using js */

.window-scroll{
    background: #6E60F1;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.nav-container{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
nav button{
    display: none;
}
.nav-memu{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.nav-memu a{
    font-size: 0.9rem;
    transition: 0.5s;
}
.nav-memu a:hover{
    color: #424890;
}

/* ===========header========== */

header{
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}
.header-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}
.header-left p{
    margin: 1rem 0 2.4rem;
}

/* ======eaderend========= */

/* ======categorise======= */

.categories{
    background: #2D3063;
    padding: 6rem 0 6rem;
    height: 29rem;
}
.categories h1{
    line-height: 1;
    margin-bottom: 3rem;
}
.categories-container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
}
.categories-left p{
    margin: 1rem 0 3rem;
}
.categories-right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}
.categories-left{
    margin-right: 2rem;
}
.category{
    background: #424890;
    padding: 2rem;
    border-radius: 2rem;
    transition: 0.5s;
}
.category:hover{
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 3);
    z-index: 1;
}
.category-icon{
    background: #6c63ff;
    padding: 0.7rem;
    border-radius: 0.9rem;
}

.category h5{
    margin: 2rem 0 1rem;
}
.category p{
    font-size: 0.85rem;
}
.category:nth-child(2) .category-icon {
    background: #f75842;
}
.category:nth-child(3) .category-icon {
    background: #00bf8e;
}
.category:nth-child(4) .category-icon {
    background: #f7c94b;
}
.category:nth-child(5) .category-icon {
    background: #00bf8e;
}
/* ======endcategoris======= */

/* ========courses========= */

.courses{
    padding: 6rem 0rem;
    margin-top: 10rem;
}
.courses-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.cours{
    background: #2e3267;
    text-align: center;
    border: 1px solid transparent;
    transition: 0.5s;
}
.cours:hover{
    background: transparent;
    border-color: #6c63ff;
}
.courses-info{
    padding: 2rem;
}
.courses-info p{
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;
}

/* ======Endcourses===== */

/* =========fags======== */

.faqs{
    background: #2e3267;
    padding: 6rem 0 6rem;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
}
.faqs-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.faq{
    display: flex;
    padding: 2rem;
    align-items: center;
    gap: 1.4rem;
    cursor: pointer;
    background: #6c63ff;
}
.faq h4{
    font-size: 1rem;
    line-height: 2.2rem; 
}
.faq-icon{
    align-self: flex-start;
    font-size: 1.2rem;
}
.faq p{
    margin-top: 0.8rem;
    display: none;
}
.faq.open p{
    display: block;
}

/* =======endfag-========== */

/* =======tetimonials====== */

.testimonials-container{
    padding: 6rem 0 6rem;
    position: relative;
    overflow-x: hidden;
    margin-bottom: 5rem;
}
.tesimoal{
    padding-top: 2rem;
}
.avatar{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin: 0 auto 1rem;
    overflow: hidden;
    border: 1rem solid #2D3063;
}
.testimoal-info{
    text-align: center;
}
.testimonial-body{
    background: #6c63ff;
    padding: 2rem;
    margin-top: 2rem;
    position: relative;
}
.testimonial-body::before{
    content: "";
    display: block;
    background: linear-gradient(135deg, transparent, #6c63ff, #6c63ff);
    position: absolute;
    width: 3rem;
    height: 3rem;
    left: 50%;
    top: -1.5rem;
    transform: rotate(45deg);
}

/* =======endtestmoals========= */

/* ============footer========== */

footer{
    background: #2e3267;
    padding-top: 5rem;
    font-size: 0.9rem;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}
.footer-container  h4{
    margin-bottom: 1.2rem;
}
.footer-1 p{
    margin: 0 0 2rem;
}
footer ul li{
    margin-bottom: 0.7rem;
}
footer ul li a:hover{
    text-decoration: underline;
}
.footer-socials{
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}
.footer-copyright{
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid #424890;
}

/* ==========Media Queres (Tablets)============ */

@media screen and (max-width: 1024px) {
    .container{
        width: 90%;
    }
    h1{
        font-size: 2.2rem;
    }
    h2{
        font-size: 1.7rem;
    }
    h3{
        font-size: 1.4rem;
    }
    h4{
        font-size: 1.2rem;
    }
    /* =====navbar===== */
    nav button{
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: #fff;
        cursor: pointer;
    }
    nav button#close-menu{
        display: none;
    }
    .nav-memu{
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }
    .nav-memu li{
        width: 100%;
        height: 5.8rem;
        animation: navbar 0.5s linear forwards;
        transform-origin: top right;
        opacity: 0;
    }
    @keyframes navbar {
        0%{
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
        }
        100%{
            transform: rotateZ(0) rotateX(0) scale(1);
            opacity: 1;
        }
    }
    .nav-memu li:nth-child(2){
        animation-delay: 0.3s;
    }
    .nav-memu li:nth-child(3){
        animation-delay: .6s;
    }
    .nav-memu li:nth-child(4){
        animation-delay: 0.9s;
    }
    .nav-memu li a{
        background: #6c63ff;
        width: 100%;
        height: 100%;
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 6);
        display: grid;
        place-items: center;
    }
    .nav-memu li a:hover{
        background: #424890;
        color: #fff;
    }

    /* ===endnavbar=== */

    /* ====header==== */
    header{
        height: 52vh;
        margin-bottom: 6rem;
    }
    .header-container{
        gap: 0;
        padding-bottom: 3rem;
    }

    /* ===endheader=== */

    /* ====Categories==== */
    .categories{
        height: auto;
    }
    .categories-container{
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .categories-left{
        margin-right: 0;
    }
    /* ====endcatagories======= */

    /* ======courses==== */
    .courses {
        margin-top: 0;
    }
    .courses-container{
        grid-template-columns: 1fr 1fr;
    }
    /* ====endcourses==== */

    /* ====FAGs==== */
    .faqs-container{
        grid-template-columns: 1fr;
    }
    .faq{
        padding: 1.5rem;
    }
    /* ===ENDFaGs==== */

    /* ====FoTTeR==== */
    .footer-container{
        grid-template-columns: 1fr 1fr;
    }
}

/* ==========Media Queres (PhOne)============ */

@media screen and (max-width: 600px) {
    .container{
        width: 94%;
    }
    /* ====NaVBar=== */
    .nav-memu{
        right: 3%;
    }
    /* ===eNdNaVBar=== */
    /* ====HeaDEr=== */
    header{
        height: 100vh;
    }
    .header-container{
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 0;
    }
    .header-left p{
        margin-bottom: 1.3rem;
    }
    /* ===eNdHeAdeR=== */
    /* ===CaTeGoriEs==== */
    .categories-right{
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }
    .category{
        padding: 1rem;
        border-radius: 1rem;
    }
    .category-icon{
       display: inline-block
    }
    /* ====EnDCaTegoRies=== */
    /* ===CoUrSeS=== */
    .courses-container{
        grid-template-columns: 1fr;
    }
    /* ===EndCorSEs=== */
    /* ===testimonials==== */
    .testimonial-body{
        padding: 1.2rem;
    }
    /* ===EndTeStiMoalS=== */
    /* =====FoOTeR==== */
    .footer-container{
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }
    .footer-1 p{
        padding: 1.2rem auto;
    }
    .footer-socials{
        justify-content: center;
    }
}

/* ============AbOUt=========== */

/* =====AcHiEveMenTs========= */


.achievements-container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}
.about-achievements{
    padding: 6rem 0 6rem;
    margin-top: 3rem;
}
.achievements-right > p{
    margin: 1.6rem 0 2.2rem;
}
.achievemwnts-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
.achievemen{
    background: #2e3267;
    padding: 1.6rem;
    text-align: center;
    border-radius: 1rem;
}
.achievemen:hover{
    background: #424890;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 3);
}
.achievemen-icon{
    background: #f75842;
    padding: 0.6rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2rem;
}
.achievemen:nth-child(2) .achievemen-icon {
    background: #00bf8e;
}
.achievemen:nth-child(3) .achievemen-icon {
    background: #6c63ff;
}
.achievemen p{
    margin-top: 1rem;
}

/* =========TeAm====== */

.team{
    background: #2e3267;
    padding: 6rem 0 6rem;
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}
.team-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.team-member{
    background: #424890;
    padding: 2rem;
    border: 1px solid transparent;
    position: relative;
    overflow: hidden;
}
.team-member:hover{
    background: transparent;
    border: 1px solid #6E60F1;
}
.team-memeber-img img{
    filter: saturate(0);
}
.team-member:hover img{
    filter: saturate(1);
}
.team-member-info{
    text-align: center;
    margin-top: 1.4rem;
}
.team-member-info p{
    color: rgba(255, 255, 255, 0.7);
}
.team-memeber-socails{
    position: absolute;
    top: 50%;
    right: -100%;
    display: flex;
    flex-direction: column;
    background: #6E60F1;
    border-radius: 1rem 0 0 1rem;
    transform: translateY(-50%);
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
}
.team-memeber-socails a{
    padding: 1rem;
}
.team-member:hover .team-memeber-socails {
    right: 0;
}

/* ==========Media Queres (tAbLeT)============ */

@media screen and (max-width: 1024px) {
    .about-achievements{
        margin-top: 2rem;
    }
    .achievements-container{
        grid-template-columns: 1fr;
        gap: 4rem;
    }
    .achievements-left{
        width: 80%;
        margin: 0 auto;
    }
    .team-container{
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
    .team-member{
        padding: 1rem;
    }
}

/* ==========Media Queres (PhoNe)============ */

@media screen and (max-width: 600px) {
    .achievemwnts-card{
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }
    .team-container{
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }
    .team-member{
        padding: 0;
    }
    .team-member p{
        margin-bottom: 1.5rem;
    }
}

/* ====courses=== */
/* =====courses2======= */
.courses-2{
    margin-top: 1rem;
}
/* ====enDcouRsEs==== */

/* ==========ConTaCaT========== */

.contact{
    padding: 6rem 0 6rem;
}
.contact-container{
    background: #2e3267;
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 30rem;
    margin: 7rem auto;
    border-radius: 1rem;
}
.contact-aside{
    background: #6E60F1;
    padding: 3rem;
    border-radius: 1rem;
    position: relative;
    bottom: 10rem;
}
.aside-img{
    width: 12rem;
    margin-bottom: 2rem;
}
.contact-aside h2{
    text-align: center;
    margin-bottom: 1rem;
}
.contact-aside p{
    font-size: 0.9rem;
    margin-bottom: 2rem;
}
.contact-delails li{
    display: grid;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}
.contact-socails{
    display: flex;
    gap: 0.8rem;
    margin-top: 3rem;
}
.contact-socails a{
    background: #2e3267;
    padding: 0.5rem;
    border-radius: 40%;
    font-size: 0.9rem;
}
.contact-socails a:hover{
    background: transparent;
}


/* ======form===== */
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right: 4rem;
}
.form-name{
    display: flex;
    gap: 1.2rem;
}
.contact-form input[type="text"] {
    width: 50%;
}
input,
textarea{
    width: 100%;
    padding: 1rem;
    background: #1f2641;
    color: #fff;
}
.contact-form .btn{
    width: max-content;
    cursor: pointer;
    margin-top: 1rem;
}

/* ==========Media Queres (tAbleT)============ */

@media screen and (max-width: 1024px) {
    .contact{
        padding-bottom: 0;
    }
    .contact-container{
        gap: 1.5rem;
        margin-top:3rem;
        height: auto;
        padding: 1.5rem;
    }
    .contact-aside{
        width: auto;
        padding: 1.5rem;
        bottom: 0;
    }
    .contact-form{
        align-self: center;
        margin-right: 1.5rem;
    }
}

/* ==========Media Queres (PhoNE)============ */

@media screen and (max-width: 600px) {
    .contact-container{
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-top: 0;
        padding: 0;
    }
    .contact-form{
        margin: 0 1.2rem 3rem;
    }
    .form-name{
        flex-direction: column;
    }
    .contact-form input[type="text"] {
        width: 100%;
    }
}